.link {
  color: goldenrod !important;
  background-color: black !important;
  &:hover {
    color: black !important;
    background-color: goldenrod !important;
  }
}

.overflow {
  min-width: 100vw;
  overflow-x: auto;
}