{% extends 'toy_app/base.html' %}


{% block content %}

<h1>Listing microposts</h1>
<table border="1">
  <tr>
    <th>content</th><th>user</th>
  </tr>
  {% for post in posts %}
    <tr>
      <td>{{ post.content }}</td>
      <td>{{ post.user_id }}</td>
      <td><a href="/toy_app/microposts/{{ post.id }}/">show</a></td>
      <td><a href="/toy_app/microposts/{{ post.id }}/edit/">edit</a></td>
      <td><a href="/toy_app/microposts/{{ post.id }}/delete/">destroy</a></td>
    </tr>
  {% endfor %}
</table>

<a href="create/">New micropost</a>

{% endblock %}