{% extends 'toy_app/base.html' %}


{% block content %}

<h1>Listing users</h1>
<table border="1">
  <tr>
    <th>name</th><th>email</th>
  </tr>
  {% for user in users %}
    <tr>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td><a href="/toy_app/users/{{ user.id }}/">show</a></td>
      <td><a href="/toy_app/users/{{ user.id }}/edit/">edit</a></td>
      <td><a href="/toy_app/users/{{ user.id }}/delete/">destroy</a></td>
    </tr>
  {% endfor %}
</table>

<a href="create/">New User</a>

{% endblock %}